/* StructureStyle.css */
/* This file contains the CSS styles for the structure of the webpage */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.header {
    padding: 20px;
    text-align: center;
    background: #003366; /* Dark blue */
    color: white;
}

.row:after {
    content: "";
    clear: both;
    display: block;
    width: 60%;
}

.content {
    background-color: #e6f0ff; /* Vibrant light blue */
    padding: 20px;
    float: left;
    width: 66.66%;
}

.sidebar {
    float: left;
    width: 33.33%;
    background-color: #cce0ff; /* Softer blue for sidebar */
    padding: 15px;
}

.content, .sidebar p {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}

@media screen and (max-width: 700px) {
    .content, .sidebar, img {
        width: 100%;
        float: none;
    }
}

.footer {
    padding: 20px;
    text-align: center;
    background: #003366; /* Same dark blue as header */
    color: #cce0ff; /* Light blue text */
    line-height: 0.2;
}
